@import ./_variables

@mixin botonGenerico()
	background: linear-gradient(to bottom, #eec643 5%, #eef0f2 100%)
	background-color: #eec643
	border-radius: 6px
	border: 1px solid #eec643
	display: inline-block
	cursor: pointer
	color: #0d21a1
	font-family: Arial
	font-size: 15px
	font-weight: bold
	padding: 6px 24px
	text-decoration: none
	text-shadow: 0px 1px 0px #ffee66
    box-shadow: 0px 1px 0px 0px #fff6af
    
@mixin botonGenericoHover()  
    background: linear-gradient(to bottom, #eef0f2 5% , #eec643 100%)
    background-color: #eef0f2

@mixin botonGenericoActive()
    position: 
    top: 1px


/* Style the tab */
.tab 
  overflow: hidden
  border: 1px solid #ccc
  background-color: #f1f1f1


/* Style the buttons inside the tab */
.tab button 
  background-color: inherit
  float: left
  border: none
  outline: none
  cursor: pointer
  padding: 14px 16px
  transition: 0.3s
  font-size: 17px


/* Change background color of buttons on hover */
.tab button:hover 
  background-color: #ddd


/* Create an active/current tablink class */
.tab button.active 
  background-color: #ccc


/* Style the tab content */
.tabcontent 
  display: none
  padding: 6px 12px
  border: 1px solid #ccc
  border-top: none

.switch 
  position: relative
  display: inline-block
  width: 60px
  height: 34px


.switch input display:none

.slider 
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ccc
  -webkit-transition: .4s
  transition: .4s


.slider:before 
  position: absolute
  content: ""
  height: 26px
  width: 26px
  left: 4px
  bottom: 4px
  background-color: white
  -webkit-transition: .4s
  transition: .4s


input:checked + .slider 
  background-color: $amarillo


input:focus + .slider 
  box-shadow: 0 0 1px $amarillo


input:checked + .slider:before 
  -webkit-transform: translateX(26px)
  -ms-transform: translateX(26px)
  transform: translateX(26px)


/* Rounded sliders */
.slider.round 
  border-radius: 34px


.slider.round:before 
  border-radius: 50%

label
    margin-right: 65px
    img
        left: 105%
        position: relative
