
@import ./_variables
@import ./_genericos
@import ./desktopStyle
html
    height: 100%
    background: $fondo_degradado
    background-attachment: fixed
body
    font-family: Georgia, 'Times New Roman', Times, serif   
    height: 100%
    
/*Menu version Mobil*/
.desktop-header
    display: none
header
    display: flex
    align-items: center
    justify-content: space-around
    width: 100%
    max-width: 600px
    min-width: 300px
    
.menu
    padding: 10px 20px
    text-align: left
    box-sizing: border-box
    color: $azulOscuro
        

nav
    width: 90%
    display: none
    position: absolute
    top: 0px
    z-index: 100
    ul
        width: 80%
        background: $blanco
        padding: 0
        display: block
        li 
            list-style: none
            display: block
            text-align: center
            padding: 10px
            color: $azulOscuro
            &:hover
                background: $amarillo
            a
                text-decoration: none
                color: $azulOscuro
.logoCabecera
    width: 50% 
    padding: 0px 10px

.breadcrumbs
    display: none

main
    width: 100%
    height: 100%
    padding-top:  2px
    display: flex
    flex-direction: column
    justify-content: space-around
    max-width: 600px
    min-width: 300px
    section
        height: 33%

    
.thisYear
    article
        height: 100%
        background-image: url('./../../recursos/img/paraArticulos/fondoArticuloRotterdam.jpg')
        background-size: 100% 100%

    
.participantes
    .cantantesInicioDesktop
        display: none
    article
        height: 100%
        background-image: url('./../../recursos/img/paraArticulos/microfonoCristal.jpg')
        background-size: 100% 100%
        display: flex
        align-items: left
        flex-direction: column
        h2
            background: $azulOscuro
            margin: 0 50px 0 0px
            height: 35px
            border-radius: 0px 20px 20px 0px
            width: 70%
            color: $blanco
            padding: 10px 10px 2px 10px
            margin: 0
        p
            background: $amarillo
            color: $azulOscuro
            margin: 5px 0
            width: 50%
            border-radius: 20px 
            padding: 5px 10px 2px 10px
            margin: 0
            text-align: center
            margin-left: 5%
        input
            width: 50%
            max-width: 300px
            border-radius: 20px
            text-align: center
            position: relative
            top: 50%
        button
            @include botonGenerico()
            width: 30px
            padding: 3px 3px
            position: relative
            margin: auto
            top: 15%
            left: 10%
            img
                width: 18px
            &:hover
                @include botonGenericoHover()
            &::active
                @include botonGenericoActive()

    @each $pais in $listaPaises
        .cantante-#{$pais}
                display: none
                background-image: url('./../../recursos/img/artistas/#{$pais}_Singer.jpeg')
                background-size: 100% 100%
                .volverArticuloInicio
                    position: relative
                    top: -20%
                    left: 2%    
                    width: 20px
                    
                          
                img
                    width: 20%
                    position: relative
                    right: -72%
                h2
                    background: $azulOscuro
                    margin: 0 50px 0 0px
                    height: 35px
                    border-radius: 0px 20px 20px 0px
                    position: relative
                    top: 30%
                p
                    background: $amarillo
                    color: $azulOscuro
                    margin: 5px 0
                    width: 65%
                    position: relative
                    right: -29%
                    text-align: right
                    border-radius: 20px 0px 0px 20px
                    position: 
                    bottom: -23%
                audio
                    height: 15px
                    position: relative
                    bottom: -20%
                div
                    width: 90%
                    display: flex
                    justify-content: space-between
                    position: relative
                    top: -30%
                    span
                        img
                            width: 16px




.noticias
@each $name, $fondo in $listaArticulosNoticias
    .article-#{$name}
        height: 100%
        background-image: url('./../../recursos/img/paraArticulos/#{$fondo}')
        background-size: 100% 100%
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 5px
        div
            display: none
            width: 90%
            height: 90%
            background: rgb(13,33,161)
            background: linear-gradient(25deg, rgba(13,33,161,1) 0%, rgba(13,33,161,0.2836484935771183) 100%)
            align-items: center
            %geralElementosArticuloNoticas
                text-align: center
                margin: auto
                border-radius: 20px 20px
                margin-top: 5px
                width: 90%

            h2 
                @extend %geralElementosArticuloNoticas
                color: $blanco             
                background: $azulOscuro
                padding: 3px
                

            h4
                @extend %geralElementosArticuloNoticas
                color: $azulOscuro
                padding: 5px
                background: $amarillo
            p
                background: linear-gradient(25deg, rgba(255,255,255,1) 0%, rgba(224,224,224,0.8130602582830007) 100%)
                width: 90%
                color: $azulOscuro
                text-align: left
                padding: 5px
                margin: auto
                margin-top: 5px
                a
                    font-weight: bold
                    text-decoration: none
                    color: $azulOscuro

aside
    display: none
.seccionSecundaria
    display: none
.footerDesktop
    display: none
    



@media only screen and ( min-width: 1200px )
    
    .mobil
        display: none
    .desktop-header
        display: block
        display: flex
        flex-direction: column
        max-width: 1200px
        padding-bottom: 10px
        img
            width: 70%
            max-height: 150px
            margin: auto
            
    .desktop-nav
        display: flex
        justify-content: space-around
        flex-direction: row
        background: rgb(2,0,36)
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,22,56,1) 35%, rgba(13,33,161,1) 100%)
        align-items: center
        padding: 5px
        width: 100%
        position: sticky
        ul
            display: flex
            flex-direction: row
            justify-content: space-between
            background: none
            width: 60%
            li
                padding: 10px 5px
                &:hover
                    background: $amarillo
                 
                a
                    color: $blanco
                    &:hover
                        color: $azulOscuro
        div
            background: $amarillo
            padding: 3px
            border-radius: 20px 20px
            display: flex
            flex-direction: row
            input
                border-radius: 20px 20px
            img
                width: 32px
    .breadcrumbs
        display: flex
        justify-content: flex-start
        align-items: center
        padding-left: 10px

        p
            color: $blanco
        a 
            text-decoration: none
            color: $amarillo
            &:hover
                color: $blanco
    main
        width: 100%
        min-width: 601px
        max-width: 1366px
        display: flex
        justify-content: center
        margin: auto
    .thisYear
        display: none
    .participantes
        height: 600px
        width: 100%
        margin: auto
        .cantantesInicio
            display: none

        
        .cantantesInicioDesktop
            display: block
            width: 100%
            height: 100%
            position: relative
            //top: -15%
           
            img
                width: 50%
                position: relative
                left: 10%
                top: 10%
            .banderasDesktop
                display: flex
                flex-direction: row
                justify-content: center
                width: 100%
                position: relative
                top: 40%
                a 
                    img
                        width: 30px
            audio
                display: none
        @each $pais in $listaPaises
            .cantanteDesktop-#{$pais}
                background-image: url('./../../recursos/img/artistas/#{$pais}_Singer.jpeg')
                position: relative
                //top: -16%
                .banderasDesktop
                    display: flex
                    flex-direction: row
                    justify-content: center
                    width: 100%
                    position: absolute
                    top: 95%
                    a 
                        img
                            width: 30px
                span
                    position: relative
                    top: 25%
                    left: 65%         
                .corazonDesktop
                    position: absolute
                    top: 10%
                    left: 85%
                audio
                    padding: 20px

        
            
    .noticias
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 10px
        article
            width: 24%
            &:hover
                width: 40%
                div
                    display: block
            
    aside
        display: flex
        justify-content: center
        align-items: center
        background-image: url('./../../recursos/img/paraArticulos/fondoTienda.jpg')
        height: 15%
        margin: 10px 0
        transition: background 2s
        h2
            width: 60%
            margin: 0
            padding: 10px
            border-radius: 20px 20px
            background: $amarillo
            color: $azulOscuro
            text-align: center
            transition: box-shadow 2s
            
        &:hover
            background: $azulOscuro
            h2
                background: $amarillo
                color: $azulOscuro        
                padding: 20px
                box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)
                -webkit-box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)
                -moz-box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)

    .seccionSecundaria
        display: flex
        justify-content: center
        flex-direction: row     
        h2
            color: $azulOscuro
            background: $amarillo
            border-radius: 20px 20px            
    .quienGanara
        width: 75%
        height: 300px
    .registroForm
        width: 25%
        height: 300px
        background-image: none
        margin: 0
        border-radius: 20px 20px
        &:hover
            background: none
        form
            background: $amarillo
            padding: 10px
            border-radius: 20px 20px
            &:hover
                box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)
                -webkit-box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)
                -moz-box-shadow: 0px 1px 17px 17px rgba(255,255,255,0.75)
            h3
                color: $azulOscuro
            input
                border-radius: 20px 20px
            button
                background: $azulOscuro
                color: $blanco

    .footerDesktop
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,22,56,1) 35%, rgba(13,33,161,1) 100%)
        display: flex
        justify-content: space-around
        flex-direction: row
        align-items: center

        .footerLogo
            width: 200px
            padding: 5px
        a 
            color: $blanco
            text-decoration: none
            padding: 5px
            &:hover
                background: $amarillo
                color: $azulOscuro
        div
            background: $amarillo
            padding: 3px
            border-radius: 20px 20px
            display: flex
            flex-direction: row
            img
                padding: 5px
                transition: margin 1s
                &:hover
                    margin: 0 10px

    
